<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

{% if not user.is_authenticated %}
<div id="alert" class="alert alert-danger d-none" role="alert">
  That username is already in use!
</div>
<form id="app" class="col-3 mt-5 ml-auto mr-auto">
  {% csrf_token %}
  <div class="form-group">
    <label>Email address</label>
    <input
      type="email"
      v-model="email"
      class="form-control"
      id="emailInput"
      placeholder="Email address"
      required
    />
  </div>
  <div class="form-group">
    <label>Password</label>
    <input
      type="password"
      v-model="password"
      class="form-control"
      id="passwordInput"
      placeholder="Password"
      required
    />
  </div>
  <button
    v-on:click.self.prevent
    @click="validateUser()"
    type="submit"
    class="btn btn-primary"
  >
    Sign in
  </button>
  <hr class="mb-1" />
  <div class="form-group">
    <p>Already have an account? <a href="../register">Sign up</a></p>
  </div>
</form>
{% endif %} {% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script>
  new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data() {
      return {
        email: '',
        password: '',
      };
    },
    async created() {
      const res = await fetch("{% url 'check auth'%}");

      if (res.redirected) {
        window.location.href = res.url;
      }
    },
    methods: {
      async validateUser() {
        const res = await fetch(`{% url 'user auth api'%}`, {
          method: 'POST',
          body: JSON.stringify({
            email: this.$data.email,
            password: this.$data.password,
          }),
          headers: {
            'content-type': 'application/json',
            'x-csrftoken': document.querySelector('[name=csrfmiddlewaretoken]')
              .value,
          },
        });

        if (res.redirected) {
          window.location.href = res.url;
        } else {
          alert('The email and/or password are incorrect.');
        }
      },
    },
  });
</script>
{% endblock %}
