{% extends 'hobbies/base.html' %} {% block content %}
<div id="app">
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 ms-3 h1">My Profile</span>
    <button @click="logout()" class="btn btn-danger float-right me-3">
      Log Out
    </button>
  </nav>
  <div class="col-7 mt-5 mx-auto p-3 bg-light text-center">
    <img
      v-bind:src="user.profile_image_url"
      alt="Profile picture"
      class="rounded mx-auto mb-3"
      style="display: block; max-width: 200px"
    />
    <input
      class="mb-2 w-50"
      type="url"
      placeholder="Image address"
      v-model="user.profile_image_url"
    />

    <div>
      <input type="text" placeholder="Username" v-model="user.username" />
      <input type="email" placeholder="Email" v-model="user.email" />
      <input type="text" placeholder="City" v-model="user.city" />
      <input type="date" v-model="user.birthday" />
    </div>

    <label class="mt-3"
      >Select hobbies you want to <b>add</b> to your profile</label
    >
    <select v-model="selectedHobbiesAdd" class="form-control" multiple>
      <option :id="hobby.id" :value="hobby.id" v-for="hobby in otherHobbies">
        [[hobby.name]]
      </option>
    </select>

    <form @submit.prevent="addHobby()" class="input-group col-sm-3">
      <input
        class="form-control"
        v-model="newHobbyName"
        placeholder="Add a new hobby"
      />
      <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <label class="mt-3"
      >Select hobbies you want to <b>remove</b> from your profile</label
    >
    <select v-model="selectedHobbiesRemove" class="form-control" multiple>
      <option :id="hobby.id" :value="hobby.id" v-for="hobby in hobbies">
        [[hobby.name]]
      </option>
    </select>

    <button @click="updateProfile()" class="btn btn-primary mx-auto mt-5">
      Update Information
    </button>
  </div>
</div>
{% endblock content %} {% block scripts %}
<script type="module">
  const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  const app = Vue.createApp({
    data() {
      return {
        user: undefined,
        newHobbyName: undefined,
        hobbies: [],
        otherHobbies: [],
        selectedHobbiesAdd: [],
        selectedHobbiesRemove: [],
      };
    },
    async created() {
      await this.loadProfile();
    },
    methods: {
      async loadProfile() {
        const [user, { hobbies, other_hobbies }] = await Promise.all([
          fetch(`{% url 'user api' user.id %}`).then(res => res.json()),
          fetch(`{% url 'user hobbies api' user.id %}`).then(res => res.json()),
        ]);

        this.user = user;
        this.hobbies = hobbies;
        this.otherHobbies = other_hobbies;
      },
      async addHobby() {
        if (!this.newHobbyName) {
          return;
        }

        const hobby = await fetch(`{% url 'hobbies api' %}`, {
          method: 'POST',
          headers: {
            'content-type': 'application/json',
            'x-csrftoken': csrfToken,
          },
          body: JSON.stringify({ name: this.newHobbyName }),
        }).then(res => res.json());

        this.otherHobbies.push(hobby);
        this.newHobbyName = undefined;
      },
      async updateProfile() {
        const { success } = await fetch(`{% url 'user api' user.id %}`, {
          method: 'PUT',
          headers: {
            'content-type': 'application/json',
            'x-csrftoken': csrfToken,
          },
          body: JSON.stringify({
            ...this.user,
            add_hobbies: this.selectedHobbiesAdd,
            remove_hobbies: this.selectedHobbiesRemove,
          }),
        }).then(res => res.json());

        if (success) {
          this.selectedHobbiesAdd = [];
          this.selectedHobbiesRemove = [];

          await this.loadProfile();
        }
      },
      async logout() {
        const res = await fetch(`{% url 'auth logout api' %}`, {
          method: 'POST',
          headers: { 'x-csrftoken': csrfToken },
        });

        if (res.redirected) {
          window.location.href = res.url;
        }
      },
    },
  });
  app.config.compilerOptions.delimiters = ['[[', ']]'];

  app.mount('#app');
</script>
{% endblock %}
